html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  color: #6D79EB;
}

header {
  display: flex;
  width: 900px;
  margin: auto;
  height: 120px;
}

.headr-text {
  margin-top: -30px;
  color: #D5D5D5;
}

.header-logo {
  color: #6D79EB;
  font-size: 37px;
}

.menu {
  margin-left: auto;
  align-self: center;
}

.menu-glav, .menu-vhot {
  color: #D5D5D5;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
}

.border {
  border-bottom: 1px solid #D5D5D5;
}

.content {
  width: 900px;
  margin: auto;
}

.section {
  display: flex;
}

.left-sec {
  flex: 1;
}

.right-sec {
  width: 200px;
}

.left-sec_text {
  font-size: 27px;
  font-weight: bold;
  margin-top: 20%;
}

.section-right {
  width: 315px;
  height: 305px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 5%;
}

.section-right_text {
  height: 21px;
  margin: 29px 0 0 27px ;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

form input[type="text"],
.right-form-sub {
  width: 260px;
  height: 48px;
  margin: 23px 27px 0 28px;
  color:#C7C7C7;
  background: #F2F2F2;
  border-radius: 8px;
  border: #F2F2F2;
}


::placeholder { 
  font-size: 14px;
  line-height: 16px;
  color: #C7C7C7;
  font-weight: bold;
  padding: 10px;
}

.right-form-sub {
  background: #6D79EB;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.content-work {
  width: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.content-work_two {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 1000px;
}

.content-gallery {
  text-align: left;
  margin: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  width: 210px;
  height: 240px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.content-work_title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin-top: 10px;
}

.content-work_gallery {
	display: flex;
  justify-content: space-evenly;
	margin: auto;
	margin-top: 50px;
}

.gallery {
  padding: 6px;
  width: 210px;
  height: 230px;
  margin: 37px 83px 0 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

.gallery_img {
  margin-left: 2px;
	width: 206px;
	height: 184px;
	border-radius: 8px;
}
.gallery_text {
	margin: 10px 10px;
  font-weight: bold;
}

.gallery_service {
  font-weight: bold;
  margin-bottom: 10px;
}

.ser {
  margin-top: 20px;
}

footer {
  background: #FAFAFA;
  height: 151px;
  margin-top: 50px;
}

.footer-text {
  margin: auto;
  text-align: center;
	color: #C7C7C7;
	font-weight: bold;
	font-size: 14px;
  padding-top: 30px;
}

select {
  appearance: none;
  border: 2px solid black;
  padding-left: 10px;
  margin: 0;
  height: 30px;
  border-radius: 6px;
}
